body {
  margin: 0;
  background: #fff;
  overflow: hidden;
}

.game-area {
  position: relative;
  width: 400px;
  height: 700px;
  margin: 30px auto;
  background: #343434;
  border-left: 6px solid #fff;
  border-right: 6px solid #fff;
  overflow: hidden;
}

#playerCar {
  position: absolute;
  bottom: 20px;
  left: 100px; /* (400 - 200) / 2, adjust as needed */
  width: 100px;
  height: auto;
  z-index: 10;
}

.enemyCar {
  position: absolute;
  width: 100px;
  height: auto;
  z-index: 5;
  top: 0px;
}

.road-line {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 12px;
  height: 80px;
  background: #fff;
  opacity: 0.85;
  border-radius: 4px;
}